<div class="main-content">
  <div class="container-fluid">
     <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
                  <div class="mb-3">
                    <label>nis</label>
                    <input type="nis" formControlName="nis" class="form-control" required>
                  </div>
                
                  <div class="mb-3">
                    <label>nama</label>
                    <input type="nama" formControlName="nama" class="form-control" required>
                  </div>
                
                  <div class="mb-3">
                    <label>email</label>
                    <input type="email" formControlName="email" class="form-control" required>
                  </div>
              
                  <div class="mb-3">
                      <label>kontak</label>
                      <input type="kontak" formControlName="kontak" class="form-control" required>
                    </div>
              
                    <div class="mb-3">
                      <label>warganegara</label>
                      <input type="warganegara" formControlName="warganegara" class="form-control" required>
                    </div>
              
                    <div class="mb-3">
                      <label>agama</label>
                      <input type="agama" formControlName="agama" class="form-control" required>
                    </div>
                
                    <div class="mb-3">
                      <label>alamat</label>
                      <input type="alamat" formControlName="alamat" class="form-control" required>
                    </div>
              
                  <div class="mb-3">
                    <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Create</button>
                  </div>
                </form>
  </div>
</div>

