<p>list-user works!</p>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">nis</th>
        <th scope="col">nama</th>
        <th scope="col">email</th>
        <th scope="col">kontak </th>
        <th scope="col">warganegara</th>
        <th scope="col">agama</th>
        <th scope="col">alamat</th>
       
       </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of Users; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ user.nis }}</td>
        <td>{{ user.nama }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.kontak }}</td>
        <td>{{ user.warganegara }}</td>
        <td>{{ user.agama }}</td>
        <td>{{ user.alamat }}</td>
        <td>
          <span (click)="removeUser(user)" class="text-danger">Delete</span> &nbsp;
          <span routerLink="/update-user/{{user.id}}" class="text-primary">Edit</span>
        </td>
      </tr>
    </tbody>
  </table>
